@keyframes fillBorder 
{
    0%
    {
        width: 0%;
    }

    100%
    {
        
        width: 100%;
    }
}

@keyframes showProjectFields
{
    0%
    {
        transform: translateX(-5%);
    }

    100%
    {
        transform: translateX(0);
    }
}

@keyframes rotate 
{
    to {
      transform: rotate(360deg);
    }
}


.expand-project-fields
{
    animation: showProjectFields 0.3s ease-in-out forwards;
}

