@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
/* --- GLOBAL RESET --- */

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* --- GENERAL STYLE --- */

.highlight
{
    color: var(--lumina-fontcolor);
    font-weight: bolder;
    transition: all ease-in 0.5s;
}

.highlight:hover
{
    color: var(--lumina-fontcolor-hover);
}

.section-header
{
    text-align: center;
    padding: 10px 10px 50px 10px;
}

.section-header h1
{
    font-size: 38px;
    font-weight: 500;
    line-height: 24px;
}

/* --- BODY --- */

html
{
    font-size: 16px;
}

body
{
    display: flex;
    flex-direction: column;
    height: auto;
    background-color: var(--main-bgcolor);
    font-family: var(--general-font);
    overflow-x: hidden;
    gap: 20px;
}

/* --- HEADER --- */

header,
#hero,
#about-me
{
    padding: 1.25rem 1rem 1.25rem 1rem;
}

header
{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 40px;
    width: 100%;
    height: auto;
    background-color: var(--main-bgcolor);
}

.logo-container 
{
    padding: 10px;
}

.logo-container h1
{
    font-size: 1.75rem;
}

header nav
{
    margin-left: auto;
}

nav ul.links-container
{
    display: flex;
    list-style: none;
    gap: 30px;
}

nav ul.links-container li a
{
    text-decoration: none;
    color: var(--orange-main-fontcolor);
    position: relative;
    padding-bottom: 5px;
    font-size: 16px;
    font-weight: 500;
    
}

nav ul.links-container li a::after
{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: var(--orange-main-fontcolor);
    transition: width 0.3s ease;
}

a:hover::after
{
    animation: fillBorder 0.5s forwards ;
}


header div.hire-container
{
    min-width: 200px;
    height: auto;
}

div.hire-container button
{
    width: 100%;
    height: 100%;
    padding: 10px 20px 10px 20px;
    background-color: var(--hire-me-button-bgcolor);
    border: none;
    color: var(--hire-me-button-fontcolor);
    font-family: var(--general-font);
    font-size: 0.95rem;
    font-weight: 500;
    border-radius: 1rem;
    outline: 3px solid transparent;
    transition: all ease-in 0.5s;
}

div.hire-container button:hover
{
    outline: 2px solid var(--hire-me-button-outline-color-hover );
    color: var(--hire-me-button-outline-fontcolor-hover );
}

.burger-menu
{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--burger-menu-bgcolor);
    display: none;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    align-items: center;
    padding: 10px;
    outline: 3px solid transparent;
    transition: all ease-in 0.5s;
    flex-shrink: 0;
}

.burger-menu:hover
{
    outline: 2px solid var(--burger-menu-line-outline-color-hover);
}

.line
{
    width: 100%;
    height: 2px;
    background-color: var(--burger-menu-line-color);
}

/* --- SIDEBAR --- */

#sidebar
{
    width: 45%;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    background-color: var(--sidebar-bgcolor);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 40px 20px 40px 20px;
    border-right: 2px solid var(--sidebar-border-color);
}

#sidebar .sidebar-header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#sidebar .highlight
{
    color: var(--lumina-sidebar-fontcolor);
}

#sidebar .highlight:hover
{
    color: var(--lumina-sidebar-fontcolor-hover);
}

#sidebar .close-sidebar-container
{
    width: 30px;
    height: 30px;
    flex-shrink: 0;
}

#sidebar .close-sidebar-container img
{
    width: 100%;
    height: 100%;
}

#sidebar nav ul.links-container
{
    flex-direction: column;
}

#sidebar nav ul.links-container li a
{
    color: var(--blue-main-fontcolor);
}

#sidebar .hire-container
{
    width: 100%;
}

#sidebar .hire-container button
{
    background-color: var(--hire-me-sidebar-button-bgcolor);
    color: var(--orange-main-fontcolor);
}

#sidebar nav ul.links-container li a::after
{
    background-color: var(--blue-main-fontcolor);
}

/* --- HERO --- */

#hero
{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--main-bgcolor-secondary);
    width: 100%;
    height: auto;
}

.hero-image,
.hero-text
{
    height: 440px;
}

.hero-text
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 45%;
    height: auto;
    gap: 10px;
    
}

.hero-image
{
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.hero-text .hero-greeting,
.hero-text .hero-heading,
.hero-text .hero-description
{
    padding: 10px;
}

.hero-text .hero-greeting p
{
    font-size: 24px;
    font-weight: 400;
}

.hero-text .hero-heading h1
{
    font-size: 30px;
    font-weight: 500;
}

.hero-text .hero-description p
{
    font-weight: 700;
    line-height: 24px;
}

.hero-image img
{
    width: 375px;
    height: auto;
}

#hero-text .hero-text
{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.hero-buttons
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-buttons .hire-container
{
    width: 30%;
}

#hero .social-links-container ul
{
    list-style: none;
    display: flex;
    gap: 10px;
}

.social-links-container li
{
    flex-shrink: 0;
}

/* --- ABOUT ME --- */

#about-me
{
    background-color: var(--main-bgcolor);
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    gap: 20px;
    padding: 50px;
}

.about-me-body
{
    display: flex;
    justify-content: space-evenly;
    gap: 40px;
}

.about-me-image
{
    width: 40%;
    height: auto;
    border: 2px solid var(--about-me-image-bordercolor );
    border-radius: 0.75rem;
}

.about-me-image img
{
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
    height: 100%;
    border-radius: 0.75rem;

}

.about-text
{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 5px;
    height: auto;
    width: 50%;
}

.about-text .about-text-description,
.about-text .about-text-headings .about-main-header,
.about-text .about-text-headings .about-main-sub-header
{
    padding: 10px;
}

.about-text .about-text-headings .about-main-header
{
    padding-bottom: 0;
}

.about-text .about-text-headings .about-main-sub-header
{
    padding-top: 0;
}

.about-text .about-text-headings .about-main-sub-header p
{
    color: var(--about-me-main-sub-header-fontcolor);
    font-weight: 700;
    line-height: 32px;
}

.about-text .about-text-description
{
    
    min-width: 200px;
}

.about-text .about-text-description
{
   font-size: 18px;
   font-weight: 600;
   line-height: 28px;
}

.about-text .contacts-container
{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 30px;
    flex-wrap: wrap;
    row-gap: 20px;
}

.about-text .contacts-container .email,
.about-text .contacts-container .phone,
.about-text .contacts-container .office
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 0px 10px 0px 10px;
}

.about-text .phone-icon-container,
.about-text .email-icon-container,
.about-text .office-icon-container
{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 1px solid var(--about-me-contact-bordercolor);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    
}

.about-text .phone-icon-container img,
.about-text .email-icon-container img,
.about-text .office-icon-container img
{
    width: 25px;
    height: 25px;
}

.about-text .hire-container
{
    width: 40%;
    min-width: 161px;
}

/* --- MY SKILLS --- */

#my-skills
{
    background-color: var(--main-bgcolor-secondary);
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    gap: 20px;
    padding: 50px;
}

.my-skills-content-container
{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    gap: 20px;
    height: 100%;
}


.technical-skills,
.other-skills
{
    width: 550px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    gap: 20px;
}

.my-skill-sub-header
{
    padding: 10px;
    text-align: center;
}

.my-skill-sub-header h2
{
    font-size: 30px;
    color: var(--orange-main-fontcolor);
    font-weight: bold;
}

.technical-skills-container
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    gap: 30px;
}

.technical-skills-container .technical-skill
{
    width: 125px;
    height: 125px;
    padding-top:10px ;
    text-align: center;
    outline: 2px solid var(--technical-skill-square-outline-color);
    border-radius: 0.75rem;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8), 0 1px 2px rgba(0, 0, 0, 0.2);
    padding: 12px;
    gap: 13px;
    transition: box-shadow 0.3s ease, transform 0.3s ease;


}

.technical-skills-container .technical-skill .square
{
    width: 100%;
    height: 100px;
    border-bottom-left-radius: .75rem;
    border-bottom-right-radius: .75rem;

}

.square img
{
    min-width: 30px;
    min-height: 30px;
    transition: filter 0.3s ease;

}

.technical-skills-container .technical-skill:hover {
    box-shadow: 0 0 15px 5px var(--technical-skill-square-shadow-color-hover); /* Orange glow effect */
    transform: scale(1.1); /* Slightly enlarge the square */
    outline: 2px solid var(--technical-skill-square-outline-color-hover);
    color:var(--technical-skill-square-fontcolor-hover) ;

}

.technical-skills-container .technical-skill:hover img {
    filter: brightness(0) saturate(100%) invert(61%) sepia(65%) saturate(637%) hue-rotate(1deg) brightness(99%) contrast(93%);
}

.other-skills-container
{
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.other-skills-container ul
{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.other-skills-container ul li
{
    font-size: 20px;
    font-weight: 600;
}

.other-skills-container ul li a
{
    text-decoration: none;
}

.certificates-container
{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.certificates-container
{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
/* --- MY SERVICES --- */

#services
{
    background-color: var(--main-bgcolor);
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    gap: 20px;
    padding: 50px;
}

.services-container
{
    display: flex;
    justify-content: center;
    gap: 30px;
}

.services-container .service
{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 350px;
    height: 350px;
    padding: 10px;
    background-color: var( --services-service-card-bgcolor );
    border-top-right-radius:0.75rem;
    border-bottom-left-radius: 0.75rem;
    box-shadow: 0 4px 7px rgba(0, 0, 0, 0.2), 0 1px 2px rgba(0, 0, 0, 0.2);
    flex-shrink: 0;
    
}

.services-container .service .service-icon
{
    width: 60px;
    height: 60px;
    outline: 5px solid var(--services-service-icon-outline-color);
    box-shadow: 0 4px 7px rgba(0, 0, 0, 0.7), 0 1px 2px rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.service-body
{
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 8px;
}

.services-container .service .service-icon img
{
    width: 35px;
    height: 35px;
}

.service .service-title
{
   
    text-align: center;
}


.service .service-description
{
    padding: 0px 18px 18px 18px;
    text-align: center;
}

.service .service-description p
{
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
}

.service .call-to-action-btn
{
    width: 60%;
    height: 35px;
    
}

.call-to-action-btn button
{
    width: 100%;
    height: 100%;
    background-color: var(--get-started-button-bgcolor);
    color: var(--get-started-fontcolor);
    border: none;
    padding: 10px 0px 10px 0px;
    border-radius: 0.75rem;
    font-weight: bold;
    outline: 2px solid transparent;
    transition: all ease-in 0.5s;
}

.call-to-action-btn button:hover
{
    outline: 2px solid var(--get-started-outline-color-hover);
    color: var(--get-started-fontcolor-hover);
}

/* MEDIA QUERIES */
/* 2xl */
@media (max-width: 1536px) {}

/* xl */
@media (max-width: 1280px) 
{
    #about-me
    {
        padding: 50px 20px 50px 20px;
    }

}

/* lg + burger menu*/
@media (max-width: 1024px) 
{
    header
    {
        justify-content: space-between;
    }

    header div.hire-container,
    header nav
    {
        display: none;
    }

    div.burger-menu
    {
        display: flex;
    }

    #hero
    {
        justify-content: space-evenly;
    }

    .hero-text
    {
        gap: 0px;
    }
}

/* md */
@media (max-width: 768px) 
{
    #hero
    {
        gap: 20px;
    }

    .hero-buttons
    {
        flex-direction: column-reverse;
        align-items: flex-start;
        gap: 20px;
    }

    .hero-buttons .hire-container,
    .hero-buttons .social-links-container
    {
        width: 100%;
    }

    /* ABOUT ME */
    .about-me-body,
    .about-me-image,
    .about-text
    {
        width: 100%;
    }



    .about-me-body
    {
        flex-direction: column; 
        
        justify-content: stretch; 
        align-items: center;
    }

    /* SKILLS */
    .my-skills-content-container
    {
        flex-direction: column;
    }

    .technical-skills
    {
        width: 100%;
    }



    .my-skill-sub-header
    {
        text-align: left !important;
        width: 100%;
    }

    .other-skills-container ul
    {
        padding-left: 40px;
    }

    /* SERVICES */
    .services-container
    {
        gap: 30px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .services-container .service
    {
        width: 400px;
        height: 400px;
        padding: 8px;

    }
}

/* sm */
@media (max-width: 640px) 
{
    #sidebar
    {
        width: 100%;
    }


    .hero-text
    {
        width: 100%;
    }

    .hero-image
    {
        display: none;
    }

    .hero-text .hero-description p
    {
        padding-bottom: 50px;
    }

    /* SKILLS */
    .my-skill-sub-header
    {
        text-align: center !important;
        
    }

    .other-skills
    {
        max-width: 100%;
    }
}

/* xs */
@media (max-width: 475px) 
{   
    /* body
    {
        padding: 5px;
    } */

    header
    {
        gap: 10px;
    }

    .about-text .hire-container
    {
        width: 100%;
        min-width: 161px;
    }

    .about-text .contacts-container .email p,
    .about-text .contacts-container .phone p,
    .about-text .contacts-container .office p
    {
        font-size: 14px;
    }

    /* SKILLS */

    .my-skills-content-container
    {
        width: 100%;
    }

    .other-skills-container ul li
    {
        font-size: 16px;
    }

    .technical-skills-container .technical-skill p
    {
        font-size: 12px;
    }

    .technical-skills-container .technical-skill
    {
        width: 90px;
        height: 90px;
    }

    .technical-skills-container .technical-skill img
    {
        width: 40px;
        height: 40px;
    }

    /* SERVICES */

    #services
    {
        padding: 50px 20px 50px 20px;
    }

    .services-container .service
    {
        width: 100%;
        height: 400px;
        padding: 8px;

    }
}

@media (max-width: 347px) 
{ 

    .section-header h1
    {
        font-size: 32px;
        text-wrap: nowrap;
    }

    .my-skills-content-container
    {
        width: 240px;
    }




}