:root
{
    /* LUMINA */
    --lumina-fontcolor : #ee8623;
    --lumina-fontcolor-hover : #000080;
    --lumina-sidebar-fontcolor : #000080;
    --lumina-sidebar-fontcolor-hover : #5656b9;

    /* -- COLORS -- */
    --main-bgcolor : #FEFEFE ;
    --main-bgcolor-secondary : #E1FBEE ;
    --orange-main-fontcolor : #ee8623;
    --blue-main-fontcolor : #000080;

    --hire-me-button-bgcolor : #ee8623;
    --hire-me-sidebar-button-bgcolor : #000080;
    --hire-me-button-fontcolor : #FEFEFE;
    --hire-me-button-outline-color-hover : #000080;
    --hire-me-button-outline-fontcolor-hover : #000080;

    --burger-menu-bgcolor : #ee8623;
    --burger-menu-line-color : white; 
    --burger-menu-line-outline-color-hover : #000080; 

    --sidebar-bgcolor : #ee8623;
    --sidebar-border-color : #000080;

    --about-me-main-sub-header-fontcolor : #85918b ;
    --about-me-image-bordercolor : #ee8623 ;
    --about-me-contact-bordercolor : #ee8623 ;

    --technical-skill-square-outline-color : #808080;
    --technical-skill-square-fontcolor-hover : #ee8623;
    --technical-skill-square-outline-color-hover : #ee8623;
    --technical-skill-square-shadow-color-hover : #ee8623;

    --services-service-card-bgcolor : #E1FBEE;
    --services-service-icon-outline-color : #ee8623;
    --services-service-icon-border-color : gray;

    --get-started-button-bgcolor : #ee8623;
    --get-started-outline-color-hover : #000080;
    --get-started-fontcolor-hover : #000080;
    --get-started-fontcolor : #FFFFFF;

    --project-toggler-bgcolor : #ee8623;
    --project-toggler-fontcolor : #c06e22;
    --project-toggler-buttons-bordercolor : #ee8623;
    --project-toggler-buttons-bgcolor : #FEFEFE;
    --project-toggler-buttons-bgcolor-active : #ee8623;
    --project-toggler-buttons-fontcolor-active : #FEFEFE;
    --project-toggler-buttons-bordercolor-active : #FEFEFE;
    --project-body-bgcolor : rgba(0, 0, 0, 0.479);
    --project-body-fontcolor : #FEFEFE;

    --testimonials-switcher-bordercolor : grey;
    --testimonials-switcher-bgcolor-active : grey;
    /* FONT */
    --general-font : "Montserrat", sans-serif;
}